<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Need a little help?????
  <br>
  We're available 24/7 to give you a hand. Send us an e-mail or call our help hotline!
  <br>
  E-mail: bookworm@studybughelp.com
  <br>
  Help Hotline: (555) 555-5555
</p>