<div class="row">
    <h1>Attendance</h1>

<table class="table table-striped">
  <tr>
    <th>Course Section</th>
    <th>User Email</th>
    <th>Approved?</th>
    <th>Attended</th>
  </tr>

<% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.coursesectionid %></td>
    <td><%= attendance.useremail %></td>
    <td><%= attendance.approved %></td>
    <td><%= attendance.didattend %></td>
  </tr>
<% end %>
</table>
</div>