<% if current_user.admin? %>
<% if !user.inactive? %>
	<li>
	  <%= gravatar_for user, size: 52 %>
	  <%= link_to user.name, user %>
	  
	  <br/>
	  <% if current_user.admin? && !current_user?(user) %>
	    | <%= link_to "edit", edit_user_path(user), class: "btn btn-mini btn-success" %>

	  <% elsif current_user.admin? && current_user?(user) %>
	    | <%= link_to "edit", edit_user_path(user), class: "btn btn-mini btn-success" %>
	  <% end %>
	</li>
<% end %>
<% end %>