<% @user ||= current_user %>
<div class="stats">
  <a href="/courses">
    <strong id="following" class="stat">
      <%= @user.attendances.count %>
    </strong>
    Upcoming Classses
  </a>
</div>