<section>
	<% @user ||= current_user %>
<div class="stats">
  <a>
    <strong id="following" class="stat">
      <%= @user.attendances.count %>
    </strong>
    Upcoming Classses
  </a>
 <br>
 </div>
</section>

<section>
Email: 

<strong id="email" class="">
  <i class="icon-envelope">  </i><%= mail_to @user.email %></i>
</strong>

</section>
 