<div class="page-header">
<h1>List of Course Sections Attended by User</h1>
</div>
	
<table class = "table table-bordered table-hover">
	<tr>
		<th>User Email</th>
		<th>Course Section</th>
		<th>Attended</th>
	</tr>
<% @report.each do |user| %>
	<tr>
		<td><%= user.email %></td>
		<td><%= user.coursesectionid %></td>
		<td><%= user.didattend %></td>
	</tr>
	<%end%>
	
</table>

<%= will_paginate %>