<footer class="footer">
  <small>
<<<<<<< HEAD
    By Patrick, Frank, Benjamin Climan, Michael Goldfarb and Robert Redmond
=======
    OPP Training
>>>>>>> 6a39f5a73f450ba0f6e64a83d7ade3a14b71503e
  </small>
  <nav>
  </nav>
</footer>